/* Reset osnovnih stilova za doslednost */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Osnovni stil za telo stranice */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 97vh;
    background-color: rgb(234, 239, 226);
    font-family: Arial, Helvetica, sans-serif;
}

/* Stilizovanje zaglavlja */
header {
    background-color: #25ac2cde;
    color: white;
    padding: 12px 0;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 55px;
    height: auto;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    flex-grow: 1;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Stilizovanje glavnog sadržaja */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    padding: 20px;
    width: 400px; /* Fiksna širina sekcije */
    margin-top: -70px;

}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    font-size: 1rem;
}

table td:first-child {
    font-weight: bold;
    color: #25ac2c;
}

input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
}

/* Stilizovanje dugmadi */
button {
    width: 100%;
    padding: 10px;
    background-color: #25ac2cde;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #23c12bde;
}

/* Stilizovanje footer-a */
footer {
    background-color: #25ac2cde;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
