body {
    background: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin-top: -70px;
}

h1 {
    color:#25ac2cde;
    margin-bottom: 50px;
}

.login-container {
    background: #fff;
    border: 2px solid #918c8c;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-top: 0;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 94%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-info {
    text-align: center;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #25ac2cde;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #23c12bde;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 30px;
}