<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <a routerLink=''>
                    <img src="assets/pictures/logo.png" alt="Logo" class="logo">
                </a>
            </div>
            <h1>Profil</h1>
            <nav>
                <ul>
                    <li><a routerLink='/dekorater'><i>Nazad</i></a></li>
                    <li><a routerLink='/prijava'><i>Odjava</i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="profil-container">
            <div class="profil-detalji">
                <h2>{{ dekorater.ime }} {{ dekorater.prezime }}</h2>
                <img [src]="'http://localhost:4000/uploads/profile_pictures/' + dekorater.profilna_slika" alt="Profilna slika" class="profilna-slika">
            </div>
            <div class="profil-info">
                <div class="info-row">
                    <p><strong>Adresa:</strong></p> 
                    <p>{{ dekorater.adresa }}</p>
                </div>
                <div class="info-row">
                    <p><strong>E-mail:</strong></p> 
                    <p>{{ dekorater.imejl }}</p>
                </div>
                <div class="info-row">
                    <p><strong>Kontakt telefon:</strong></p> 
                    <p>{{ dekorater.kontakt_telefon }}</p>
                </div>
                <div class="info-row">
                    <button (click)="idiNaAzuriranjeDekoratera()" class="btn-azuriraj">Ažuriraj podatke</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; <i>2024 Vaša mašta - vaša bašta</i></p>
    </footer>
</body>
