* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Osnovni stil za telo stranice */
body {
    margin: 0;
    display: flex;
    flex-direction: column; /* Omogućava postavljanje header-a i footer-a na vrh i dno stranice */
    height: 97vh; /* Visina prozora preglednika */
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Stilizovanje zaglavlja */
header {
    background-color: #25ac2cde;
    color: white;
    padding: 15px 0;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Razmak između logotipa i naslova */
}

.logo {
    width: 55px;
    height: auto;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    flex-grow: 1; /* Omogućava da h1 bude centriran u sredini */
}

nav {
    margin-left: auto; /* Postavlja navigaciju na desnu stranu */
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Stilizovanje glavnog sadržaja */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white; /* Lagana pozadinska boja */
    text-align: center;
    margin-top: 35px;
}

.table-section {
    width: 50%;
    max-width: 1000px; /* Maksimalna širina tabele */
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Stilizovanje dugmadi za deaktivaciju */
.deactivate-button {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deactivate-button:hover {
    background-color: darkred;
}

/* Stilizovanje dugmadi za aktivaciju */
.activate-button {
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.activate-button:hover {
    background-color: darkblue;
}

/* Stilizacija futera */
footer {
    background-color: #25ac2cde;
    color: white;
    padding: 10px 0;
    text-align: center;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    margin-top: auto; /* Drži footer na dnu stranice */
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

.black {
    font-size: x-large;
}